<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "mystyle.css">
    <title>Регистрация</title>
</head>
<body>
    <video class="video" autoplay loop muted>
        <!-- <source src="{{ url_for('static',filename='video.mp4') }}" type="video/mp4" class="vid">-->
         <source src="..\static\video.mp4" type="video/mp4" class="vid">
     </video>
    <div class="r_main">
        <center><h1 class="hh">Вход</h1>
        <input placeholder="Логин" class="inp"><br>
        <input placeholder="Пароль" class="inp" type="password"><br>
        <button class="buton4ik_en">Войти</button>
    </center>
    </div>
</body>
</html>