<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приветствие</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexstyle.css') }}">
</head>
<body>
    <div class="welcome-message">
        <h1>Добро пожаловать на форум!</h1>
        <p>Мы рады приветствовать вас в нашем сообществе. Здесь вы можете общаться, задавать вопросы, делиться знаниями и опытом с другими участниками.</p>

        <h2>Что можно найти на форуме:</h2>
        <ul>
            <li>Обсуждения различных тем.</li>
            <li>Помощь в решении проблем.</li>
            <li>Полезные советы и ресурсы.</li>
            <li>Новых друзей и единомышленников.</li>
        </ul>

        <p>Чтобы начать, <a href="{{ url_for('registration') }}">зарегистрируйтесь</a> или <a href="{{ url_for('login') }}">войдите</a> в свой аккаунт.</p>

        <p>Приятного общения!</p>
    </div>
</body>
</html>

