<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль: {{ user.username }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profilestyle.css') }}">
</head>
<body>
    <header>
        <h1>Форум</h1>
        <a href="{{ url_for('home') }}" class="back-button">Назад</a>
    </header>

    <main>
        <section class="profile-info">
            <h2>Профиль пользователя: {{ user.username }}</h2>
            <p>Email: {{ user.email }}</p>
            <p>Дата регистрации: {{ user.created_on }}</p>
        </section>

        <section>
            <h3>Сообщения пользователя:</h3>
            <ul class="message-list">
                {% for message in user.messages %}
                <li>
                    <p>{{ message.text }}</p>
                    <p>В топике: <a href="{{ url_for('topic', topic_id=message.topic.id) }}">{{ message.topic.title }}</a></p>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        &copy; 2024 Форум
    </footer>
</body>
</html>